<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>uek音乐app</title>
    <meta name="x5-orientation" content="portrait | landscape" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true" />
    <meta name="full-screen" content="yes">
    <meta name="format-detection" content="telephone=no, email=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="/Public/js/jquery.min.js"></script>
    <!--<script src="/Public/js/rem.js"></script>-->
    <script src="/Public/js/buy.js"></script>
    <link rel="stylesheet" href="/Public/css/rem.css">
    <link rel="stylesheet" href="/Public/css/index.css">
    <link rel="stylesheet" href="/Public/css/singer11.css">
</head>

<body>
<div class="app">
    <div class="wrapers">
        <div class="nav">
            <ul class="nav-wraps">
                <li>
                    <a href="javascript:history.go(-1)"> <div class="icon"></div></a>
                </li>
                <li>
                    <div class="gs"><span class="room">0806</span> 房间已选好商品
                    <div class="tit">共 <span class="num">26</span>件</div></div>
                </li>
                <li>
                    <div class="yd">共26首</div>
                </li>
            </ul>
        </div>
        <div class="wrap-box">
            <ul>

            </ul>
        </div>
        <div class="bottom">
            <div class="bottom-one">
                <div class="wenzi1"></div>
                <div class="zongjia"></div>
                <div class="num">326</div>
            </div>
            <a href="/index.php/bussiness/resback" style="display: block;"><div class="tijiao"></div></a>
        </div>
</div>
</div>
</body>