<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="x5-orientation" content="portrait | landscape" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true" />
    <meta name="full-screen" content="yes">
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>ktv</title>
    <link rel="stylesheet" href="/Public/css/index.css">
    <link rel="stylesheet" href="/Public/css/home.css">
    <link rel="stylesheet" href="/Public/css/rem.css">
    <script src="/Public/js/jquery.min.js"></script>
    <!--<script src="/Public/js/rem.js"></script>-->
    <script src="/Public/js/main.js"></script>
</head>
<body>
    <div class="wraper">
        <div class="home-wraper">
            <div class="head">
                <div class="locations"></div>
                <div class="lns">南京</div>
            </div>
            <div class="logo"></div>
            <div class="content-wraper">
                <div class="songs">
                    <a href='/index.php/sing/'><span class="song">点歌</span></a>
                </div>
                <div class="games">
                    <a href="/index.php/play/"><span class="game">游戏</span></a>
                </div>
                <div class="shops">
                    <a href="/index.php/bussiness/"><span class="store">商店</span></a>
                </div>
                <div class="mines">
                    <a href="/index.php/mine/"><span class="mine">我的</span></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>