<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta name="viewport"
			  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="x5-orientation" content="portrait | landscape" />
		<meta name="screen-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true" />
		<meta name="full-screen" content="yes">
		<meta name="format-detection" content="telephone=no, email=no" />
		<link rel="stylesheet" href="/Public/css/index.css">
		<link rel="stylesheet" href="/Public/css/personal.css">
		<script src="/Public/js/jquery.min.js"></script>
		<!--<script src="/Public/js/rem.js"></script>-->
		<link rel="stylesheet" href="/Public/css/rem.css">
		<script src="/Public/js/saoyisao.js"></script>
    </head>
    <body>
    <div class="bigbox">
		<a href="/index.php/home">
			<header>
				<div class="back"></div>
				<h2>·个人中心·</h2>
			</header>
		</a>
    	<div class="foolt">
    		<div class="portrait">
    			<div class="mzname">
    				李家琦
				</div>
    		</div>
    		<ul class="name">
    			<li style="">甲壳虫</li>
    			<li style="">DAZHONG JIA KE CHONG</li>
    			<li style="color: #000;">99868B728</li>
    		</ul>
    		<ul class="indent">
    			<li class="ones">
    				<span class="num">111</span>
    				<span class="zi">关注</span>
    			</li>
    			<li class="twos">
    				<span class="num">111</span>
    				<span class="zi">我的粉丝</span>
    			</li>
    			<li class="threes">
    				<span class="num">111</span>
    				<span class="zi">订单</span>
    			</li>
    		</ul>
    		<div class="zp">我的作品</div>
    		<ul class="song">
    			<li>
    				<p class="songname">
    					<span>幸福像花儿一样</span>
    					-
    					<span>赵磊</span>
    				</p>
    				<p class="songtime">4."55"</p>
    			</li>
    			<li>
    				<p class="songname">
    					<span>幸福像花儿一样</span>
    					-
    					<span>赵磊</span>
    				</p>
    				<p class="songtime">4."55"</p>
    			</li>
    			<li>
    				<p class="songname">
    					<span>幸福像花儿一样</span>
    					-
    					<span>赵磊</span>
    				</p>
    				<p class="songtime">4."55"</p>
    			</li>
    			<li>
    				<p class="songname">
    					<span>幸福像花儿一样</span>
    					-
    					<span>赵磊</span>
    				</p>
    				<p class="songtime">4."55"</p>
    			</li>
    			<li>
    				<p class="songname">
    					<span>幸福像花儿一样</span>
    					-
    					<span>赵磊</span>
    				</p>
    				<p class="songtime">4."55"</p>
    			</li>
    		</ul>
    	</div>
    </div>
    </body>
</html>