<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="x5-orientation" content="portrait | landscape" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true" />
    <meta name="full-screen" content="yes">
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>房间链接</title>
    <link rel="stylesheet" href="/Public/css/index.css">
    <link rel="stylesheet" href="/Public/css/saoyisao.css">
    <link rel="stylesheet" href="/Public/css/rem.css">
    <script src="/Public/js/jquery.min.js"></script>
    <!--<script src="/Public/js/rem.js"></script>-->
    <script src="/Public/js/saoyisao.js"></script>
</head>
<body>
<div class="wraper">
    <div class="masks"></div>
    <div class="saomiao-wraper">
        <div class="header">
            <a href="home.html" class="songsback"></a>
            <p>房间链接</p>
        </div>
    </div>
    <div class="view">
        <div class="mask"></div>
    </div>
    <div class="room">
        <p>扫一扫进入房间</p>
    </div>
</div>
</body>
</html>