<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>uek音乐app</title>
    <meta name="x5-orientation" content="portrait | landscape" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true" />
    <meta name="full-screen" content="yes">
    <meta name="format-detection" content="telephone=no, email=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="/Public/js/jquery.min.js"></script>
    <!--<script src="/Public/js/rem.js"></script>-->
    <link rel="stylesheet" href="/Public/css/index.css">
    <link rel="stylesheet" href="/Public/css/singer3.css">
    <link rel="stylesheet" href="/Public/css/rem.css">
</head>

<body>
    <div class="app">
        <div class="nav">
            <div class="icons"></div>
        </div>
        <div class="title">
            <h2>你还要我怎样 - 薛之谦</h2>
            <div class="dian">
                <h2>TO LOVE VIDEO</h2>
            </div>
        </div>
        <div class="beijing">
            <div class="banner">
                <div class="tit">
                    你还要我怎样－薛之谦~
                </div>
                <div class="x1"></div>
                <div class="text">
                    留住时尚的影子，把街拍变成插画留住时尚的影 子，把街拍变成插画...
                </div>
                <div class="xuan">
                    <div class="box1">
                        <div class="box11"></div>
                        <span>32947参与</span>
                    </div>
                    <div class="box2">
                        <div class="box21"></div>
                        <span>32947参与</span>
                    </div>
                </div>
                <div class="mei">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="cont">
                    <div class="cont1">点歌</div>
                    <div class="cont2">PK</div>
                </div>
            </div>
        </div>
        <div class="circle">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</body>
</html>