<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="x5-orientation" content="portrait | landscape" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true" />
    <meta name="full-screen" content="yes">
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>已选歌曲</title>
    <link rel="stylesheet" href="/Public/css/index.css">
    <link rel="stylesheet" href="/Public/css/secletlist.css">
    <script src="/Public/js/jquery.min.js"></script>
    <!--<script src="/Public/js/rem.js"></script>-->
    <script src="/Public/js/select.js"></script>
    <link rel="stylesheet" href="/Public/css/rem.css">
</head>
<body>
<div class="wraper">
    <div class="header-wraper">
        <div class="header">
            <div class="left"><a href="/index.php/sing" style="width: 100%;height: 100%;display: block;"></a></div>
            <div class="middle">已点歌曲</div>
            <div class="right">共<span>0</span>首</div>
        </div>
    </div>
    <ul class="listwraper">
    </ul>
</div>
</body>
</html>