<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>uek音乐app</title>
    <meta name="x5-orientation" content="portrait | landscape" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true" />
    <meta name="full-screen" content="yes">
    <meta name="format-detection" content="telephone=no, email=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="/Public/js/jquery.min.js"></script>
    <!--<script src="/Public/js/rem.js"></script>-->
    <link rel="stylesheet" href="/Public/css/index.css">
    <link rel="stylesheet" href="/Public/css/singer4.css">
    <link rel="stylesheet" href="/Public/css/rem.css">
</head>

<body>
<div class="app">
    <div class="wrapers">
        <div class="nav">
            <ul class="nav-wraps">
                <li>
                    <div class="icon"></div>
                </li>
                <li>
                    <div class="gs">房间链接</div>
                </li>`
                <li>
                </li>
            </ul>
        </div>
        <div class="erweima">
            <div class="er"></div>
        </div>
        <div class="dans">扫一扫进入房间</div>
    </div>
</div>
</body>