<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="x5-orientation" content="portrait | landscape" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true" />
    <meta name="full-screen" content="yes">
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>已选歌曲</title>
    <link rel="stylesheet" href="/Public/css/index.css">
    <link rel="stylesheet" href="/Public/css/submitsresult.css">
    <script src="/Public/js/jquery.min.js"></script>
    <!--<script src="/Public/js/rem.js"></script>-->
    <link rel="stylesheet" href="/Public/css/rem.css">
</head>

<body>
<div class="wraper">
    <div class="header-wraper">
        <div class="header">
            <a href="/index.php/bussiness/"><div class="left"></div></a>
            <div class="middle">提交成功</div>
        </div>
        <div class="main">
            <div class="tops"></div>
            <div class="footers">恭喜&nbsp;&nbsp;您已提交成功</div>
        </div>
        <div class="footer"><a href="/index.php/sing">返回点歌</a></div>
    </div>
</div>
</body>
</html>