.wraper {
  width: 100%;
  height: 100%;
  padding: 0 0.2rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-image: url("/Public/img/songs.png");
  background-position: 50% 50%;
  background-size: cover; }
  .wraper .header-wraper {
    width: 100%;
    height: 1.8rem;
    padding-top: 0.7rem;
    margin-bottom: 0.2rem; }
  .wraper .header {
    width: 100%;
    height: 0.88rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
  .wraper .header .left {
    width: 0.59rem;
    height: 0.59rem;
    background-image: url("/Public/img/songslist_back.png");
    background-position: 50% 50%;
    background-size: cover; }
  .wraper .header .left a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 0.2rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; }
  .wraper .header .middle {
    width: 5.2rem;
    height: 0.88rem;
    font-size: 0.28rem;
    line-height: 0.88rem;
    color: #ffffff;
    text-align: left;
    padding-left: 1.76rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-weight: 600; }
  .wraper .main {
    width: 100%;
    height: 10rem;
    background: #ffffff;
    box-shadow: 0 5px 5px 5px #F2DAF4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
  .wraper .main .items a {
    display: block;
    width: 3.05rem;
    height: 3.05rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 2px 2px #F2DAF4;
    -webkit-box-shadow: 0 0 2px 2px #F2DAF4;
    -moz-box-shadow: 0 0 2px 2px #F2DAF4;
    align-content: space-around;
    font-size: 0.24rem;
    color: #3A3E47;
    -webkit-transition: all ease 1s 0s;
    -moz-transition: all ease 1s 0s;
    -ms-transition: all ease 1s 0s;
    -o-transition: all ease 1s 0s;
    transition: all ease 1s 0s; }
    .wraper .main .items a:hover {
      transform: translateY(-0.2rem);
      box-shadow: 0 5px 10px 8px #F2DAF4; }
  .wraper .main .items img {
    display: block;
    width: 2.02rem;
    height: 1.71rem; }
