.wraper{
    width: 100%;
    height: 100%;
    background-image: url("/Public/img/songs.png");
    background-position: center;
    background-size: cover;
}
.songs-wraper{
    width: 7.05rem;
    height: 100%;
    margin:0 auto;

}
.songslist{
    width: 100%;
    height: 2.36rem;
    margin-bottom: 0.2rem;
}
.songslist .songsmenu{
    width: 100%;
    height: 0.88rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.songsmenu .songsback{
    display: block;
    width: 0.49rem;
    height: 0.49rem;
    background-image: url("/Public/img/songslist_back.png");
    background-size: cover;
    background-position: center;
}
.songslist .songsmenu>p{
    width: 4.8rem;
    height: 0.88rem;
    color: #ffffff;
    font-size: 0.36rem;
    text-align: center;
    line-height: 0.88rem;
}
.songslist .songsmenu .songs-selected{
    width: 1.08rem;
    height: 0.48rem;
    border-radius: 5px;
    border: 1px solid #ffffff;
    font-size: 0.24rem;
    line-height: 0.48rem;
    text-align: center;
}
.songslist .songsmenu .songs-selected>a{
    display: block;
    width: 100%;
    height: 100%;
    color: #ffffff;
}
.songslist .songlist{
    width: 100%;
    height: 0.70rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.songslist .songlist .singer{
    height: 0.70rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.songslist .songlist .musiclogo{
    width: 0.44rem;
    height: 0.44rem;
    margin-right: 0.1rem;
    background-image: url("/Public/img/songslist_logo.png");
    background-size: cover;
    background-position: center;
}
.songslist .songlist a{
    color: #ffffff;
    font-size: 0.24rem;
}
.songslist .songs-soso{
    width: 100%;
    height: 0.7rem;
    position: relative;
}
.songs-soso .soso{
    width: 0.33rem;
    height: 0.33rem;
    background-image: url("/Public/img/songslist_search.png");
    background-position: center;
    background-size: cover;
    position: absolute;
    top:0;
    bottom: 0;
    left:1.6rem;
    margin:auto;
}
#song-search{
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    border-radius: 5px ;
    box-sizing: border-box;
    font-size: 0.26rem;
    color: rgba(37,51,19,0.66);
}
.singercontent{
    margin-top: 0.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.singercontent>div{
    width: 2.1rem;
    height: 3.4rem;
    font-size: 0.26rem;
}
.singercontent>div a{
    color: #000;
}
.singercontent>div div{
    margin-top: 0.1rem;
}
.singercontent .imgs{
     width: 100%;
     height: 2.96rem;
     border-radius: 5px;
     margin-bottom: 0.1rem;
}
.singercontent .imgs img{
    display: block;
    width: 100%;
    height: 100%;
}


