@mixin all{
  height:100%;
  width:100%;
  padding:0 0.24rem;
  box-sizing: border-box;
}
//通用选择器
@mixin center{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  vertical-align: baseline;
  font-style: normal;
  font-weight: 400;
}
//包裹盒子
@mixin wrap{
  width: 100%;
  height: 100%;
}
//地址
$url:"/Public/img/";

//图片
@mixin img{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
//flex布局
@mixin flex{
  display: flex;
  -webkit-box-pack: justify;
}
//文字
@mixin title{
  text-align: center;
}
//定位
@mixin position($width,$height){
  width: $width;
  height: $height;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -($height) / 2;
  margin-left: -($width) / 2;
}
@mixin pos($w,$h){
  width: $w;
  height: $h;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -($h) / 2;
  margin-left: -($w) / 2;
}
@mixin header{
  width:100%;
  height:0.88rem;
  font-size: 0.34rem;
  text-align: center;
  position: relative;
}
*{
  padding:0;
  margin:0;
  border:0;
  list-style: none;
  text-decoration: none;
  font-family:"苹方 粗体";

}
html,body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body{
  overflow: scroll;

}
.truth{
  @include all;
  background:url($url + "gamebj.png");
  @include img;
}
.header{
  @include header;
  line-height: 0.88rem;
  color:#fff;
  .lefts{
    width: 1.1rem;
    height: 0.6rem;
    border: 1px solid #FFFFFF;
    float: right;
    border-radius: 0.2rem;
    margin-right: 0.2rem;
    margin-top: 0.1rem;
    text-align: center;
    line-height: 0.6rem;
    color: #58606D;
  }
  .active{
    color: #FFFFFF;
  }
}
.header .arrow{
  height:0.4rem;
  width:0.4rem;
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin: auto 0;
  background:url($url + "jiantou.png");
  @include img;
}
.center{
  width:7rem;
  height:7rem;
  margin-top: 0.2rem;
  border-radius: 0.1rem;
  background: #fff;
  margin-bottom: 0.4rem;
}
.cardbox{
  width:100%;
  height:100%;
  @include flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-content: center;
  box-shadow:0 0 0.2rem #fe81a6;
}
.cardbox .card{
  width:2rem;
  height: 2rem;
  background:url($url + "cardt.png");
  @include img;
  margin-bottom: 0.2rem;
  font-size: 0;
  transition: all 2s ease 0s;
  text-align: center;
  padding-top: 0.7rem;
  padding-right: 0.1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-overflow: clip;
}
.cardbox .active{
  background: #FE318E ;
  transform: rotateY(360deg);
  font-size: 0.04rem;
  color: #c2d03a;
}
.notes{
  width:100%;
  height:2.6rem;
  margin-bottom: 0.2rem;
  @include flex;
}
.notice{
  width:100%;
  height:2.1rem;
  @include flex;
  flex-direction: column;

}
h1{
  font-size: 0.3rem;
  color: #fe318e;
}
h2{

  font-size: 0.26rem;
}
h2>p{
  display: block;
  font-size: 0.26rem;
  color: #fe318e;
}
.theme{
margin-top:0.1rem;
}
.theme>p{
  font-size: 0.26rem;
  color: #87878c;
  line-height: 0.4rem;
}
.truth-re{
  margin-bottom: 0.4rem;
}
.footer{
  width:100%;
  margin-top: 0.2rem;
  @include flex;
  justify-content: space-between;
  margin-top: 0.2rem;
}
.footer>div{
  width:3.4rem;
  height:0.7rem;
  border-radius: 0.1rem;
  border: 1px solid #fe318e;
  font-size: 0.34rem;
  text-align: center;
  line-height: 0.7rem;
}
.footer .active{
  color:#fff;
  background: #fe318e;
}
#alert{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom:0;
  margin:auto;
  background: rgba(0,0,0,.5);
  z-index: 9999;
  transition: all 0.3s ease 0s;
  #info{
    width: 100%;
    height: 6.28rem;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    margin:auto;
    background:url($url + "alert.png");
    @include img;
    text-align: center;
    line-height: 6.28rem;
    color: #000;
    font-size: 0.4rem;
  }

}
.inherit{
  transform: scale(0,0);
}

.active{
  transform: scale(1,1);
}
